<section class="cinema-gallery">
  <div class="container">
    <ul class="cinema-gallery__list list">
      <li class="cinema-gallery__item">
        <div class="thumb-img">
          <img class="cinema-gallery__img" src="./images/home-bg-320-1x-min.jpg">

        </div>
        <div class="thumb-text">
          <p class="cinema-gallery__name">Movie title</p>
          <p class="cinema-gallery__text">Genre and year</p>
        </div>

      </li>
      <li class="cinema-gallery__item">
        <div class="thumb-img">
          <img class="cinema-gallery__img img" src="./images/home-bg-320-1x-min.jpg">

        </div>
        <div class="thumb-text">
          <p class="cinema-gallery__name">Movie title</p>
          <p class="cinema-gallery__text">Genre and year</p>
        </div>

      </li>
    </ul>
  </div>
</section>