.cinema-gallery {
  padding-top: 20px;
  padding-bottom: 40px;
}
.cinema-gallery__list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 1em;
  }
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
// .cinema-gallery__item:not(:last-child) {
//   // margin-bottom: 20px;
// }
.thumb-img {
  position: relative;
  width: 294px;
  height: 402px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}
.button-wrap {
  position: absolute;
  top: 0;
  left: 0;
}
.cinema-gallery__img {
  margin-bottom: 10px;

  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cinema-gallery__name {
  font-weight: $font-weight-normal;
  text-transform: uppercase;
}
.cinema-gallery__text {
  color: $color-second-text;
}
