.cinema-gallery {
  padding-top: 20px;
  padding-bottom: 40px;
}
.cinema-gallery__list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
.cinema-gallery__item {
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 21px 5px rgba(16, 17, 17, 0.5);
  &:not(:last-child) {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }
}
.thumb-img {
  position: relative;
  width: 270px;
  height: 402px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  @include transition-base(transform);
  @media screen and (min-width: 768px) {
    width: 284px;
  }
  @media screen and (min-width: 1024px) {
    width: 264px;
  }
  &:hover,
  :focus {
    transform: scale(1.02);
    .backdrop-card {
      opacity: 0.5;
    }
  }
}
.button-wrap {
  position: absolute;
  top: 0;
  left: 0;
}
.cinema-gallery__img {
  margin-bottom: 10px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
    url('../images/cinema-poster.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cinema-gallery__name {
  font-weight: $font-weight-normal;
  text-transform: uppercase;
}
.cinema-gallery__text {
  color: $color-second-text;
}
.cinema-gallery__average {
  display: inline-block;
  width: 36px;
  height: 16px;
  margin-left: 5px;
  background-color: #ff6b01;
  color: white;
  border-radius: 5px;
  text-align: center;
}
