.page-header {
  width: 320px;
  height: 230px;
  margin: auto;
  padding-top: 44px;
  padding-bottom: 44px;

  color: $color-header-text;
}
.page-header--home {
  background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
    url('../images/home-bg-320-1x-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #2f303a;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
      url('../images/home-bg-320-2x-min.jpg');
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 44px;
    padding-bottom: 60px;
    background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
      url('../images/home-bg-768-1x-min.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
        url('../images/home-bg-768-2x-min.jpg');
    }
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
      url('../images/home-bg-1024-1x-min.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
        url('../images/home-bg-1024-2x-min.jpg');
    }
  }
}
.page-header--library {
  background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
    url('../images/library-bg-320-1x-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #2f303a;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
      url('../images/library-bg-320-2x-min.jpg');
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 44px;
    padding-bottom: 60px;
    background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
      url('../images/library-bg-768-1x-min.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
        url('../images/library-bg-768-2x-min.jpg');
    }
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
      url('../images/library-bg-1024-1x-min.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(00, 00, 00, 0.56), rgba(00, 00, 00, 0.56)),
        url('../images/library-bg-1024-2x-min.jpg');
    }
  }
}
.nav {
  display: flex;
  align-items: flex-end;
  margin-bottom: 43px;
}
.logo-text {
  display: none;
  margin-left: 10px;
  font-size: $font-size-extra;
  font-weight: $font-weight-normal;
  line-height: 0.8;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.logo-link {
  color: $color-header-text;
  &--icon {
    line-height: 0;
  }
}
.home-link,
.library-link {
  position: relative;
  text-transform: uppercase;
  // text-align: end;
  align-self: flex-end;
  color: $color-header-text;

  &--current::after {
    position: absolute;
    display: block;
    content: '';
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 3px;

    background-color: $color-accent;
  }
  &:hover,
  :focus {
    text-shadow: 0px 8px 43px rgba(255, 255, 255, 0.8);
  }
}
.home-link {
  margin-right: 40px;
  margin-left: auto;
}
.search-form {
  position: relative;
  margin-bottom: 22px;
  @media screen and (min-width: 768px) {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}
.search-form__input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffffff;
  &::placeholder {
    color: #ffffff;
    font-weight: $font-weight-light;
  }
}
.search-form__button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  border: none;
  background-color: transparent;
}
.search-result-text {
  font-size: $font-size-normal;
  color: #ff001b;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
.library-button {
  margin-right: 15px;
  &--active {
    background-color: $color-accent;
    border: none;
  }
}
