// .modal-movie {
//   padding-top: 160px;
// }
.modal-movie__container {
  position: relative;
  // margin-top: 20px;
  // padding-right: 20px;
  // padding-left: 20px;
  width: 240px;
  background-color: white;
  @media screen and (min-width: 768px) {
    // padding-right: 30px;
    // padding-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 560px;
  }
  @media screen and (min-width: 1024px) {
    width: 822px;
  }
}
.modal-movie__img-thumb {
  width: 240px;
  height: 356px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 346px;
    height: 477px;
  }
}
.cinema-modal__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}
.info-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #8c8c8c;
}
.modal-movie__about {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.about-text {
  margin-bottom: 20px;
}
.modal-movie__button-wrap {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.modal-movie__button {
  min-width: 112px;
  background-color: transparent;
  margin-right: 20px;
  color: black;
  border: 1px solid black;
  font-weight: 500;
  // @include transition-base(color, background-color);
  &:hover,
  :focus {
    background-color: $color-accent;
    color: white;
    border: 1px solid $color-accent;
  }
}
.test {
  background-color: white;
}
.modal-movie__text-wrap {
  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}
.info-averages {
  display: inline-block;
  width: 36px;
  height: 16px;
  margin-left: auto;
  background-color: #ff6b01;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.info-text {
  color: black;
}
